<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="items col-lg-6 col-md-6 col-6">
        <mat-form-field appearance="standard">
          <mat-label>Team Name</mat-label>
          <input matInput value="" [(ngModel)]="team.teamName" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
      <div class="items col-lg-6 col-md-6 col-6">
        <mat-form-field appearance="standard">
          <mat-label>Team Number</mat-label>
          <input matInput value="" type="number" [(ngModel)]="team.teamNumber" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="items col-lg-6 col-md-6">
        <mat-form-field appearance="standard">
          <mat-label>Freight Placed In Storage Unit</mat-label>
          <input matInput value="" type="number" [(ngModel)]="team.autoFreightPlacedInStorageUnit"
                 [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
      <div class="items col-lg-6 col-md-6">
        <mat-form-field appearance="standard">
          <mat-label>Freight Placed In Shipping Hub</mat-label>
          <input matInput value="" type="number" [(ngModel)]="team.autoFreightPlacedOnShippingHub"
                 [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="items col-lg-6 col-md-6 col-sm-6 col-6 ">
        <mat-form-field appearance="fill">
          <mat-label>Barcode Determination</mat-label>
          <select matNativeControl required [(ngModel)]="team.barcodeDetermination"
                  [ngModelOptions]="{standalone: true}">
            <option value="NONE">NONE</option>
            <option value="USING_DUCK">USING DUCK</option>
            <option value="USING TEAM ELEMENT">USING TEAM ELEMENT</option>
          </select>
        </mat-form-field>
      </div>
      <div class="items col-lg-6 col-md-6 col-sm-6 col-6">
        <mat-form-field appearance="fill">
          <mat-label>Parking Type</mat-label>
          <select matNativeControl required [(ngModel)]="team.autoParkingType" [ngModelOptions]="{standalone: true}">
            <option value="NONE">NONE</option>
            <option value="PARKING_IN_STORAGE_UNIT_PARTIAL">Storage Unit Partial</option>
            <option value="PARKING_IN_STORAGE_UNIT_COMPLETELY">Storage Unit Completely</option>
            <option value="PARKING_WareHouse_PARTIAL">WareHouse Partial</option>
            <option value="PARKING_WareHouse_COMPLETELY">WareHouse Completely</option>
          </select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="items col-lg-6 col-md-6 col-6">
        <mat-form-field appearance="fill">
          <mat-label>Shipping Hub Placement Level</mat-label>
          <select matNativeControl required [(ngModel)]="team.teleopShippingHubLevel"
                  [ngModelOptions]="{standalone: true}">
            <option value="NONE">NONE</option>
            <option value="LEVEL_ONE">LEVEL ONE</option>
            <option value="LEVEL_TWO">LEVEL TWO</option>
            <option value="LEVEL_THREE">LEVEL Three</option>
          </select>
        </mat-form-field>
      </div>
      <div class="items col-lg-6 col-md-6 col-6">
        <mat-form-field appearance="standard">
          <mat-label>Freight Placed In Shipping Hub</mat-label>
          <input matInput value="" [(ngModel)]="team.teleopFreightPlacedInTeamShippingHub"
                 [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="items col-lg-6 col-md-6 col-6">
        <mat-form-field appearance="standard">
          <mat-label>Freight Placed In Storage Unit</mat-label>
          <input matInput value="" [(ngModel)]="team.teleopFreightPlacedInStorageUnit"
                 [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
      <div class="items col-lg-6 col-md-6 col-6">
        <mat-form-field appearance="standard">
          <mat-label>Freight Placed In Shared Shipping Hub</mat-label>
          <input matInput value="" [(ngModel)]="team.teleopFreightPlacedInSharedShippingHub"
                 [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
    </div>
    <div class="row">

      <div class="items col-lg-6 col-md-6 col-6">
        <mat-form-field appearance="standard">
          <mat-label>Ducks Delivered</mat-label>
          <input matInput value="" [(ngModel)]="team.endDucksOrShippingElementDelivered"
                 [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
      <div class="items col-lg-6 col-md-6 col-6">
        <mat-form-field appearance="fill">
          <mat-label>End Parking Type</mat-label>
          <select matNativeControl required [(ngModel)]="team.endParkingType" [ngModelOptions]="{standalone: true}">
            <option value="NONE">NONE</option>
            <option value="PARKING_WareHouse_PARTIAL">WareHouse Partial</option>
            <option value="PARKING_WareHouse_COMPLETELY">WareHouse Completely</option>
          </select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="items col-lg-6 col-md-6 col-6">
        <mat-checkbox [(ngModel)]="team.endCanCap" [ngModelOptions]="{standalone: true}">Can Cap</mat-checkbox>
      </div>
    </div>
    <div class="row justify-content-center">
      <button type="submit" mat-raised-button class="bg-success">Submit</button>
    </div>
  </form>

</div>
